.holder {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
  z-index: 10;
}

/* Container holding the image and the text */
.progress-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: x-large;
}
