#value {
  font: 800 40px system-ui;
}

.spinner {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}

.btn-spin {
    background-color: black;
    color: white;
    width: 100px;
}
