.page {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}

.top {
  display: flex;
  align-items: center; /* align vertical */

  width: 100%;
  height: 250px;
  background-image: linear-gradient(to right, #262262, #be1e2d);
  color: white;

  margin-bottom: 75px;
}

.title {
  margin-left: 50px;
}

.title h1 {
  font-size: xx-large;
}

.holder {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.ball {
  width: 75px;
  height: 75px;
  position: relative;
  text-align: center;
  margin: 5px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -1px;
  font-weight: bold;
  font-size: large;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card h1 {
  margin: 10px;
}

.card-form {
  margin-bottom: 100px;
}

.card-bingo {
  margin-top: 100px;
}

.chart-card {
  width: 100%;
  height: fit-content;
  margin-top: 150px;
  margin-bottom: 150px;
}

.chart-wrapper {
  width: 65%;
  height: 100%;
  margin: 0 auto;
}

.number-box {
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  font: 800 40px system-ui;
  padding-left: 15px;
}

.number-btn {
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  font: 800 40px system-ui;
  padding-left: 15px;
}

.number-description {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 18px;
}

.input-error {
  border: red 1px solid;
}

.error-msg {
  min-height: 50px;
  color: red;
}
