<div class="page" *ngIf="!inprogress">
  <div class="top">
    <div class="title">
      <h1>Your Lottery Home</h1>
      <p>Numbers, Tools and Stats</p>
    </div>
  </div>

  <div class="card card-shadow">
    <h1>Top Frequent</h1>
    <div class="holder" *ngIf="topKFrequent">
      <div *ngFor="let ball of topKFrequent">
        <div class="ball">
          <img src="..\..\assets\sprite1.png" style="width:100%;" />
          <div class="centered">{{ball}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-shadow">
    <h1>Least Frequent</h1>
    <div class="holder" *ngIf="leastKFrequent">
      <div *ngFor="let ball of leastKFrequent">
        <div class="ball">
          <img src="..\..\assets\sprite1.png" style="width:100%;" />
          <div class="centered">{{ball}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="chart-card">
    <div class="chart-wrapper">
      <h1>Number Frequency</h1>
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="card card-shadow card-form">
    <h1>Im feeling lucky</h1>
    <form [formGroup]="drawForm">
      <div formArrayName="draw" class="holder">
        <div *ngFor="let  address of draw.controls;  let i=index">
          <input [ngClass]="{'input-error': draw.controls[i].touched && draw.controls[i].status == 'INVALID'}"
            class="number-box" type="number" min="1" max="42" [formControlName]="i">
        </div>
        <button class="btn number-btn" (click)="checkJackpot()">Go</button>
      </div>
    </form>
    <div class="error-msg"></div>
    <div class="number-description">Choose 6 numbers to check if you ever hit the jackpot!</div>
  </div>


  <div style="width: fit-content;   margin: auto;  ">
    <h1>Frequent Pairs</h1>
    <div class="holder" *ngIf="frequentPairs">
      <div *ngFor="let pair of frequentPairs.keys()">
        <div class="holder" style="margin-left: 25px;margin-right: 25px;">
          <div class="ball">
            <img src="..\..\assets\sprite1.png" style="width:100%;" />
            <div class="centered">{{pair.item1}}</div>
          </div>
          <div class="ball">
            <img src="..\..\assets\sprite1.png" style="width:100%;" />
            <div class="centered">{{pair.item2}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-shadow card-bingo">
    <h1>Bingo</h1>
    <div class="spinner">
      <app-spinning-number (valueChanged)="valueChangedHandler($event)"></app-spinning-number>
    </div>
    <app-bingo [value]="bingoValue"></app-bingo>
  </div>

</div>
<app-loader></app-loader>